<section>
    <form action="/datosDeUsuarios" method="POST" enctype="multipart/form-data">
        <ul>
            <li><label for="email"> Ingresá tu correo electronico registrado <input type="email" id="email" name="email"> </label> </li>
            
            <li><label for="contrasena"> Contraseña <input type="password" id="contrasena" name="contrasena"></label> </li>
            
            

        </ul>
        <label for="submit"></label>
        <button type="submit" name="envioFormulario"> CONTINUAR </button>
        <label for="reset>"></label>
        <button type="reset" name="borradoFormulario"> BORRAR </button>
    
    </form>
</section>

<a href="/register">
    <button>REGISTRATE</button>
  </a>
