<hr></hr>
<section>
    <form action="/datosDeUsuarios" method="POST" enctype="multipart/form-data">
        <ul>
            <li><label for="name"> Nombre completo <input type="name" id="name" name="NombreCompleto"> </label> </li>
            <li><label for="username"> Nombre de usuario <input type="username" id="username" name="NombreDeUsuario"></label> </li>
            <li><label for="date"> Fecha de nacimiento <input type="date" id="date" name="FechaDeNacimiento"></li></label> </li>
            <li><label for="adress"> Domicilio <input type="address" id="adress" name="Domicilio"> </label> </li>
            <li><label for="perfil"> Perfil de usuario:  </label>como comprador<input type='radio' id="perfil" name="perfil" value="COMPRADOR">como vendedor<input type='radio' id="perfil" name="perfil" value="VENDEDOR"></label></li> 
            <li><label for="intereses"> Categoria de interés <ul>
              <li>Electro<input type='checkbox' id="intereses" name="intereses" value="Electro"></li>
              <li>Hogar<input type='checkbox' id="intereses" name="intereses" value="Hogar"></li>
              <li>Juguetería<input type='checkbox' id="intereses" name="intereses" value="Juguetería"></li>
              <li>Vida sana<input type='checkbox' id="intereses" name="intereses" value="Vida sana"></li>
              <li>Moda<input type='checkbox' id="intereses" name="intereses" value="Moda"></li>
            </ul></label> </li>
            <li><label for="foto"> Foto de perfil<input type="image" src="" id="foto"></label> </li>
            <li><label for="contrasena"> Contraseña <input type="password" id="contrasena" name="contrasena"></label> </li>
            <li><label for="ccontrasena"> Confirmar contraseña<input type="password" id="ccontrasena" name="ccontrasena"></label> </li>
            

        </ul>
        <label for="submit"></label>
        <input type="submit" name="envioFormulario">
        <label for="reset>"></label>
        <input type="reset" name="borradoFormulario">

    <form>
</section>
<hr></hr>