
footer section {
  
  display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items:center;
}
footer section div h5 {
  padding: 1%;
  text-align: center;
  
}
footer section p {
  padding: 1%;
  text-align: center;

}
footer section div h4 {
  text-align: center;
}
footer section div {
  padding: 10px, 5px,10px,5px;
  
  text-align: center;
}
footer {
  display:flexbox;
  padding: 10%;
}

 
/*no se usa este código porque requiere triple trabajo aplicar los colores individualmente
.fa-credit-card {
  color: rgba(0, 0, 255, 1);

} */
/* se usó la clase icono-footer para no repetir codigo 3 veces en aplicar el color azul requerido*/
.icono-footer {
  color: rgba(0, 0, 255, 1);
}
.icono-footer :hover {
  color: 
}